<%- include('partials/header.ejs') %>
<body class="homepage">
    <%- include('partials/navbar.ejs') %>



    <div class="container col-xxl-8 px-4 py-5" style="border-radius: 20px; margin-top: 25px; width: 100%; margin-bottom: 30px;">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="https://media.timeout.com/images/105996556/1536/864/image.webp" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="575" height="575" loading="lazy" style="border-radius: 8px;">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3" style="font-family: Inter; text-align: center;" >Welcome to NYCinema</h1>
          <p  style="font-family: Libre Franklin;" class="lead">To bring life back to the cinemas and in general to have people experience all of what NYC has to offer, we created a website that will recommend a plan for you for the day! Just enter your preferences for the movie and then event and it will give you an itinerary for a interesting day out including watching a movie currently being shown in theaters and an event in NYC.</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button id="generatePlanButton" type="button" style="background-color: #758bfd;" class="btn btn-primary btn-lg px-4 me-md-2">Generate A Plan</button>
          </div>
        </div>
      </div>
    </div>

    <h3 style="text-align: center; font-family: Inter; margin-bottom: 25px;">Upcoming Movies</h3>
      <%-movcon%>

    
    <div style="height: 40px; margin-bottom: 20px; width: 100%;"> </div>


    <%- include('partials/register.ejs') %>
    <%- include('partials/footerhome.ejs') %>
  <script>
      document.getElementById('generatePlanButton').addEventListener('click', function() {
        window.location.href = '/generate_plan';
      });

      document.addEventListener('DOMContentLoaded', function() {
        if (sessionStorage.getItem('success') === 'true') {
          alert('Successfully added to your account');
          sessionStorage.removeItem('success');
        }
      });
  </script>
</body>

   